.sidebar {
    width:240px;
    margin-right:90px;
}
.sidebar .news-center {
    width:240px;
    height:213px;
    display: block;
}
.sidebar .menu {
    width:230px;
    padding:20px 0 10px 10px;
    background:#e8f7fe;
    margin-top:15px;
}
.sidebar .menu li {
    width:220px;
    height:32px;
    line-height:32px;
    margin-bottom:15px;
}
.sidebar .menu li a {
    display: block;
    padding-left:30px;
    color:#216094;
}
.sidebar .menu li a.active, .sidebar .menu li a:hover {
    background:#ff794d;
    color:#FFF;
}


.main {
    width:870px;
    margin-top:40px;
}
.main h3 {
    margin-right:30px;
    font-size:18px;
    width:200px;
    height:30px;
    padding-left:10px;
    background:url('/images/newscenter_title_bg.png') 0 28px no-repeat;
}
.main h3 small {
    color:#777777;
    font-size:14px;
    padding-left:10px;
}

ul.list img {
    margin-right:17px;
}
ul.list {
    margin-top:65px;
}
ul.list li {
    margin-bottom:33px;
    overflow: hidden;
    clear: both;
}
.list h4 a {
    font-size: 16px;
    color:#333333;
}

.list .news {
    width:540px;
}
.list .news .title {
    margin-bottom:15px;
}
.list .news p {
    line-height:20px;
    color:#999999;
}

.pagination {
    text-align: center;
    margin:50px 0;
}
.pagination a, .pagination span {
    display: inline-block;
    padding:4px 7px;
    border:1px solid #bbbbbb;
    color:#444444;
    font-size:12px;
}
.pagination span.current {
    border: 1px solid #ff794d;
    background:#ff794d;
    color:#FFF;
}
.pagination span.meta {
    border: 1px solid #EEE;
    background:#EEE;
}