{% extends 'layout.html' %}

{% block content %}
<div class="container" style="margin-top:150px">
    <ul>
        <li>1. For Templete please visit http://mozilla.github.io/nunjucks/getting-started.html</li>
        <li>
            <p>2. if you want data support please config the data key in config.js and visit page with query</p>
            <p>    like this /index.html?type=2</p>
            <p>    and {type:2} will be passed to the config.data function.</p>
            <p>    this data of config.data called will be passed to the nunjucks.</p>
        </li>
        <li>3. Please to view the config.js</li>
        <li>4. thanks.</li>
    </ul>
</div>
{%- endblock %}