<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} {{title}} {% endblock %}</title>

    <!-- General META -->
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Semantic META -->
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">

    <!--[if lte IE 8]>
    <script type="text/javascript" src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->

    {%- block header %}
    <link rel="stylesheet" href="/stylesheets/style.css">
    {%- endblock %}
</head>

<body>
<header class="header">
    <div class="wrapper subHeader">
        <a href="#"><img src="/images/logo.png" alt="logo" id="logo" /></a>
        <div id="favHome">
            <a href="#" class="fav">加入收藏</a>
            <a href="#" class="set-home">设为首页</a>
        </div>
    </div>
    <nav class="nav-wrapper">
        <div class="wrapper nav">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#" class="active">单位介绍</a></li>
                <li><a href="/newscenter.html">新闻中心</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">便民服务</a></li>
                <li><a href="#">科研信息</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <div class="version">
                <a href="#">公众版</a>
                <a href="#">客户版</a>
            </div>
        </div>
    </nav>
</header>

<div class="banner" style="background:url('/images/top/home_top_pic.jpg') center 0 no-repeat;"><a href="#"></a></div>
<div class="wrapper">
    {% block content %}

    {% endblock %}
</div>

{%- block footer %}
<footer class="footer">
    <img src="/images/logo.png" class="logo" />
    <div class="footer-nav">
        <a href="#">关于西安计量院</a> | <a href="#">企业概况</a> | <a href="#">技术交流</a> | <a href="#">招贤纳士</a> | <a href="#">新闻中心</a> | <a href="#">联系我们</a>
    </div>
    <p>地址：西安市劳动南路12号（汉中大厦南邻）　邮编：710068　电话：029-88498071</p>
    <p>西安计量技术研究院 版权所有 不得转载 <a href="#">陕ICP备10202527号</a></p>
</footer>
{%- endblock %}

</body>
</html>